/* Default styles */
@font-face {
    font-family: "good";
    src: url('../eros/Eros3D.ttf');
}
@font-face {
    font-family: "good";
    src: url('../eros/Eros.ttf');
}
@font-face {
    font-family: "Verygood";
    src: url('../eros/ErosBook.ttf');
}

.container {
    display: flex;
    margin: 40px;
    margin-top:10px;
}

.events {
    display: flex;
    color:white;
    border: 2px solid white;
    max-width: 70vw;
    margin: auto;
    padding: 30px;
    gap: 30px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.card {
    display: flex;
    gap: 5px;
}

.card img{
    /* border:2px solid white; */
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    font-family:'Verygood' ;
}

.description h1{
    font-size: 5vw;
    /* border: 2px solid white; */
}

.mentors{
    font-size: 27px;
}

.detail{
    font-size:17px;
}

/* Media queries */
@media only screen and (max-width: 800px){

    .events {
        display: flex;
        flex-direction: column;
        align-items: center;        
    }

    .description h1{
        font-size: 8vw;
    }

    .description{
        text-align: center;
    }

    .mentors{
        font-size: 4vw;
    }
    
    .detail{
        font-size:2vw;
    }

}

@media only screen and (max-width: 600px){

    .events {
        display: flex;
        flex-direction: column;
        align-items: center;        
    }

    .description h1{
        font-size: 10vw;
    }

    .description{
        text-align: center;
    }

    .mentors{
        font-size: 5vw;
    }
    
    .detail{
        font-size:2.5vw;
    }

}

@media only screen and (max-width: 400px){

    .events {
        display: flex;
        flex-direction: column;
        align-items: center;        
    }

    .description h1{
        font-size: 12vw;
    }

    .description{
        text-align: center;
    }

    .mentors{
        font-size: 6vw;
    }
    
    .detail{
        font-size:3vw;
    }

}

/* Card css start here  */

.AboutUs{
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
 width: 330px;
 height: 400px;
 
 display: flex;

 flex-direction: column;
 justify-content: space-evenly;
 
 align-items: center;
 text-align: center;
 font-family: "Verygood";
 color: white;
 padding:15px 5px;
}




.detail p{
    /* border: 2px solid wheat; */
    background: rgba( 245, 222, 179, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: black;
    margin-inline: 6px;
    margin-top: 25px;
    

}

.detail h1{
    border: 2px solid white;
    display: inline;
    margin-top: 5px;
    padding: 5px;

    border-right: none;
    border-left: none;
}

.teamImg{
    border:3px solid  rgba( 245, 222, 179, 0.55 );
    border-radius: 5px;
}


/* CArd css Ends here */


/* Team member card css Starts from here  */

.container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
}


.container .card {
    position: relative;
    width: 250px;
    height: 320px;
    margin: 1em;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, .2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    transition: 0.5s;
    

    box-shadow: 0px 10px 10px rgba(46, 54, 68, 0.03);
}

.container .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}

.container .card .content .img {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, .25);
}

.container .card .content .img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content .cardContent h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 15px 0 10px;
    line-height: 1.1em;
    font-family: "Verygood";
    transition: 0.5s;
}

.container .card .content .cardContent h2 {
    color: #fff;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 10px 0 10px;
    line-height: 0.7em;
    font-family: "Verygood";
    transition: 0.5s;
}

.container .card .content .cardContent h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}


.container .card .sci {
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.container .card .sci li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    opacity: 0;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
}


.container .card .sci li a svg {
    font-size: 24px;
    color: white;

}


.container .card:hover .content {
    opacity: 1;
    transform: translateY(-20px);
}


.container .card:hover .content .cardContent  h3{
    display: none;
    opacity: 0;
}
.container .card:hover .content .cardContent  h2{
    display: none;
    opacity: 0;
}

.container .card:hover .sci li {

    transform: translateY(20px);
    opacity: 1;
}


/* Css ends Here */