.social {
    width: 20vw;
    display: flex;
    justify-content: space-around;
}

.social a:nth-child(1) svg {
    color: #eb3223;
}

.social a:nth-child(2) svg {
    color: #4968ad;
}

.social a:nth-child(3) svg {
    color: #49a1eb;
}

.social a:nth-child(4) svg {
    color: white;
}

.social a:hover svg {
    transform: scale(1.4);
    filter: drop-shadow(0 0 6px white);
}

@media screen and (max-width: 900px) {
    .social {
        width: 40vw;
    }
}
