.footer {
    display: flex;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: black;
    padding: 0.5vh;
    gap: 10vw;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7vw;
}

.footer h1 {
    color: #f1f1f1bb;
    font-family: "eros book";
}

@media screen and (max-width: 900px) {
    .footer {
        font-size: 10px;
    }
}
