@font-face {
    font-family: "eros";
    src: url("../eros/Eros.ttf");
}
@font-face {
    font-family: "Eros Book";
    src: url("../eros/ErosBook.ttf");
}

@font-face {
    font-family: "Eros 3D";
    src: url("../eros/Eros3D.ttf");
}
.header {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.header h1 {
    font-family: "Eros 3D";
    color: rgb(7, 184, 248);
    padding-top: 90px;
    font-size: 10vw;
    text-shadow: 4px 4px 16px rgba(165, 62, 170, 0.817);
}

.header p {
    font-family: "Eros";
    font-weight: 100;
    color: rgb(47, 205, 230);
    text-align: center;
    font-size: 3vw;
    text-shadow: 2px 2px 8px rgba(146, 92, 148, 0.795);
}

/* social and footer implimentation  */

.indexContainer {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.social {
    position: absolute;
    bottom: 50px;

    border: 2px solid red;
}
